
#top
{
	text-align: center;
}

#mid
{
}

#footer
{
	text-align: center;
}
table, td {
	border: 2px solid black;
}
td {

	font-family: 'Rancho', cursive;
	text-align: center;
	vertical-align: center;
}