

table {
    table-layout: fixed;
	width: 80%;
	margin: 0 auto;
    border-collapse: collapse;
}

td {
	border: 2px solid #868D8D;
}

td {

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.3em;
	text-align: center;
	vertical-align: center;
	overflow: hidden;
}

td {
	padding: 1em;
	width: 15%;
}
td.checked {
	background: repeating-linear-gradient(
		45deg,
		#E0EBEB,
		#E0EBEB 5px,
		transparent 5px,
		transparent 10px
	);
}

body {
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 400;
    text-align: center;
}

#footer, #footer a {
	color: #868D8D;
}
