

table {
    table-layout: fixed;
	width: 80%;
	margin: 0 auto;
    border-collapse: collapse;
}

td {
	border: 1px dashed #ccc;
}

td {
	text-align: center;
	vertical-align: center;
	overflow: auto;
}

td {
	padding: 1em;
	width: 15%;
}

body {
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 400;
    text-align: center;
}

#footer, #footer a {
	color: #aaa;
}